# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
cs_in_nutshell_5/CsInNutshell/CsInNutshell/CsInNutshell.csproj
cs_in_nutshell_5/CsInNutshell/CsInNutshell.suo
